NEXT_PUBLIC_API_BASE_URL=https://back.agfo.ir/api/v1/client/panel
NEXT_PUBLIC_NOTIFICATIONS_API_URL=https://back.agfo.ir/api/v1/notifications
NEXT_PUBLIC_STATIC_FILES_URL=https://back.agfo.ir
NEXT_PUBLIC_CLIENT_WEBSITE_URL=https://web.agfo.ir
NEXT_PUBLIC_CLIENT_NEWS_WEBLOG_URL=https://news.agfo.ir
NEXT_PUBLIC_PAYMENT_API_URL=https://payment.agfo.ir
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=your-google-map-api-key
